<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Top</title>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="picture in pictures">
          <div>{{ picture.userId }}</div>
          <div>{{ picture.name }}</div>
          <div>{{ picture.url }}</div>
          <div>{{ picture.description }}</div>
        </li>
      </ul>
      <input v-model="userId" placeholder="userId">
      <input v-model="name" placeholder="name">
      <input v-model="url" placeholder="url">
      <input v-model="description" placeholder="description">
      <input type="file" @change="onFileChange($event, file)")/>
      <button v-on:click="add">add</button>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
